<form (submit)="registerItem($event)">
    <label>
        <p>Ingresa los datos del cliente</p>
        <input [value]="nombre" [disabled]="loading" type="text" (input)="nombre = $event.target.value" placeholder="Nombres">
        <input [value]="apellido" [disabled]="loading" type="text" (input)="apellido = $event.target.value" placeholder="Apellidos">
        <input [value]="edad" [disabled]="loading" type="number" step="1" (input)="edad = $event.target.value" placeholder="Edad">
        <input [value]="nacimiento" [disabled]="loading" type="date" (input)="nacimiento = $event.target.value" placeholder="Fecha de nacimiento">
        <button [disabled]="loading" type="submit" role="submit">Registrar</button>
    </label>
</form>